#present>h2{
    display: flex;

}

.pre{
    margin-top: 100px;
    justify-content: center;
    text-align: center;
}

.pre2{
    display: flex;
    flex-direction: column;
    padding-inline: 40%;
}

#profil{
    width: 150px;
    border-radius: 50px;
}

body{
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 100%;
    background: linear-gradient(340deg,rgb(237, 198, 177) 3%,rgb(183, 183, 183) 38%, rgb(124, 150, 171) 63%, rgb(191, 204, 181) 98% );
    animation: gradient 20s ease infinite;
    background-size: 400% 400%;
}

@keyframes gradient {
    0%{
        background-position: 0% 0%; 
    }
    50%{
        background-position: 100% 100%;
    }
    100%{
        background-position: 0% 0%;
    }
}

progress{
    
    writing-mode: bt-lr;
    transform: rotate(270deg);
    height: 20px;
    width: 100px;
    }


#competence{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.comp{
    display: flex;
    flex-direction: column;
    text-align: center;
}

h3{
    margin: 50px;
}

#contact {
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#contact > a {
    display: flex;
    width: 50px;
    height: 50px;
    padding: 10px;
    transform: none;
    box-sizing: border-box;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
    transition: .10s all;
}

.cont{
    border: 2px solid black;
}

.cont:hover{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.308);
}




#projects{
    display: flex;
    justify-content: center;
}
#projects>a{
    text-decoration: none;
    color: black;
}
#projects>a>button{
    width: 300px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0);
}

#projects>a>button:hover{
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.341);
}

#contact{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#proj{
    margin-top: 400px;
}

#proj>h1{
    text-align: center;
    margin-bottom: 100px;
}

#project{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
    margin-top: 200px;
}


.img2{
    width: 300px;
    height: 280px;
}

.port{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 4px solid black;
    width: 320px;
    height: 500px;
    border-radius: 10px;
}

.img3{
    border: 2px solid black;
    border-radius: 10px;
}



.top{
    text-align: center;
    padding-bottom: 50px;
}

.buttontop{
    width: 300px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0);
}

.buttontop:hover{
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.341);
}