    body.light{
        padding: 0%;
        margin: 0%;
        width: 100%;
        height: 100%;
        background: linear-gradient(340deg,rgb(243, 224, 181) 3%,rgb(255, 174, 109) 38%, rgb(254, 205, 112) 63%, rgb(227, 199, 112)98% );
        animation: gradient 10s ease infinite;
        background-size: 400% 400%;
    }

    body.dark{
        padding: 0%;
        margin: 0%;
        width: 100%;
        height: 100%;
        background: linear-gradient(340deg,rgb(13, 9, 27) 3%,rgb(23, 18, 38)38%,rgb(53, 39, 115) 63%,rgb(12, 5, 34) 98% );
        animation: gradient 10s ease infinite;
        background-size: 400% 400%;
    }

@keyframes gradient {
    0%{
        background-position: 0% 0%;
    }
    50%{
        background-position: 100% 100%;
    }
    100%{
        background-position: 0% 0%;
    }
}

.dark-mode>img{
    width: 80%;
}

.dark-mode{
    padding: 1%;
    position: absolute;
    top: 2%;
    right: 2%;
    width: 5%;
    height: 5%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.dark-mode:hover{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.379);
}

#ruben{
    align-items: center;
}

h1{
    font-size: 350%;
    color: rgb(255, 255, 255);
}

h2{
    font-size: 200%;
    padding-inline: 20%;
    color: rgb(255, 255, 255);
}

#present{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    margin-top: 100px;
}

#profil{
    width: 8%;
    border-radius: 50px;
}

#contact {
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#contact > a {
    display: flex;
    width: 50px;
    height: 50px;
    padding: 10px;
    transform: none;
    box-sizing: border-box;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
    transition: .10s all;
}

.cont{
    border: 2px solid rgb(0, 0, 0);
}

.cont:hover{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.308);
}

#projects{
    display: flex;
    justify-content: center;
}
#projects>a>button{
    color: rgb(255, 254, 254);
}
#projects>a>button{
    width: 300px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

#projects>a>button:hover{
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.341);
}

#proj{
    margin-top: 400px;
}

#proj>h1{
    text-align: center;
    margin-bottom: 100px;
}

#project{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
    margin-top: 200px;
}

#contact{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.img2{
    width: 300px;
    height: 280px;
}

.port{
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.392);
    width: 320px;
    height: 500px;
    border-radius: 10px;
}

.prot:hover{
    font-size: ;
}

.img3{
    border: 2px solid black;
    border-radius: 10px;
}

.top{
    text-align: center;
    padding-bottom: 50px;
}

.buttontop{
    color: rgb(255, 255, 255);
    width: 300px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0);
}

.buttontop:hover{
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.341);
}